
<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base :: head}"></head>

<body>
	<nav th:replace="~{base :: header}"></nav>

	<div class="container-fluid">
		<div class="px-lg-5">

			<div class="row pt-5">
				<div class="col-lg-12 mx-auto">
					<div class="text-white p-5 shadow-sm rounded banner">
						<h1 class="display-4">Anuncie aqui</h1>
						<p class="lead">Guvia está aberta a parcerias de publicidades
							e divulgações que interessem ao seu público. .</p>

						</p>
					</div>
				</div>
			</div>
			<!-- End -->

			<div class="row mb-2">
				<div class="col-12 text-center pt-3">
					<h1>Hotéis em São Paulo para se hospedar</h1>
					<p class="small text-muted mb-3">Hotéis em São Paulo - Compare
						preços e escolha o melhor com o Guvia™! Avaliações e fotos
						recentes. Saiba o que esperar antes de fazer a reserva. Fotos de
						viajantes.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xl-3 col-lg-4 col-md-6 mb-4">
					<div class="bg-white rounded shadow-sm">
						<img src="./img/hotel_sheraton.jpg" alt=""
							class="img-fluid card-img-top">
						<div class="p-4">
							<h5>
								<a href="#" class="text-dark">Sheraton São Paulo WTC Hotel</a>
							</h5>
							<p class="small text-muted mb-0">Reserve o Sheraton São Paulo
								WTC Hotel com Wi-Fi gratuito em São Paulo para se manter sempre
								conectado e viajar com mais conforto.</p>
							<div
								class="d-flex align-items-center text-white p-3 mt-4 shadow-sm rounded banner ">
								<ul class="col-sm">
									<li><i class="icon_beneficios fas fa-spa"></i> Serviços
										completos de spa</li>
									<li><i class="icon_beneficios fas fa-dumbbell"></i>
										Academia de ginástica</li>
									<li><i class="icon_beneficios fas fa-shuttle-van"></i>
										Transporte de/para o aeroporto</li>
									<li><i class="icon_beneficios fas fa-swimmer"></i> Piscina</li>
								</ul>
								<div class="badge-danger px-2 rounded-pill font-weight-normal">
									<i class="fas fa-star-half"></i>4,7
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-lg-4 col-md-6 mb-4">
					<div class="bg-white rounded shadow-sm">
						<img src="./img/hotel_comfort.jpg" alt=""
							class="img-fluid card-img-top">
						<div class="p-4">
							<h5>
								<a href="#" class="text-dark">Comfort Ibirapuera Hotel São
									Paulo</a>
							</h5>
							<p class="small text-muted mb-0">Localizado a 1.2 km de
								Centro Comercial Ibirapuera, Comfort Ibirapuera Hotel São Paulo
								oferece piscina ao ar livre, solário e restaurante.</p>
							<div
								class="d-flex align-items-center text-white p-3 mt-4 shadow-sm rounded banner ">
								<ul class="col-sm">
									<li><i class="icon_beneficios fas fa-wifi"></i> Wi-Fi</li>
									<li><i class="icon_beneficios far fa-snowflake"></i>
										Ar-condicionado</li>
									<li><i class="icon_beneficios fas fa-parking"></i>
										Estacionamento</li>
									<li><i class="icon_beneficios fas fa-swimmer"></i> Piscina</li>
								</ul>
								<div class="badge-danger px-2 rounded-pill font-weight-normal">
									<i class="fas fa-star-half"></i>4,4
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-lg-4 col-md-6 mb-4">
					<div class="bg-white rounded shadow-sm">
						<img src="./img/hotel_blue_tree.jpg" alt=""
							class="img-fluid card-img-top">
						<div class="p-4">
							<h5>
								<a href="#" class="text-dark">Blue Tree Premium Morumbi</a>
							</h5>
							<p class="small text-muted mb-0">O Blue Tree Premium Morumbi
								é um hotel moderno e com atenção aos detalhes. Para o conforto e
								praticidade de sua viagem à São Paulo...</p>
							<div
								class="d-flex align-items-center text-white p-3 mt-4 shadow-sm rounded banner ">
								<ul class="col-sm">
									<li><i class="icon_beneficios fas fa-eye"></i> Vista</li>
									<li><i class="icon_beneficios fas fa-wifi"></i> Wi-Fi</li>
									<li><i class="icon_beneficios fas fa-parking"></i>
										Ar-condicionado</li>
									<li><i class="icon_beneficios far fa-clock"></i> Recepção
										24 horas</li>
								</ul>
								<div class="badge-danger px-2 rounded-pill font-weight-normal">
									<i class="fas fa-star-half"></i>4,4
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-lg-4 col-md-6 mb-4">
					<div class="bg-white rounded shadow-sm">
						<img src="./img/hotel_ibis.jpg" alt=""
							class="img-fluid card-img-top">
						<div class="p-4">
							<h5>
								<a href="#" class="text-dark">Ibis Style São Paulo Anhembi</a>
							</h5>
							<p class="small text-muted mb-0">Procura um hotel no Anhembi
								para sua estada que seja criativo, estiloso, muito bem
								localizado e com uma ... Venha conhecer o ibis Styles São Paulo
								Anhembi.</p>
							<div
								class="d-flex align-items-center text-white p-3 mt-4 shadow-sm rounded banner ">
								<ul class="col-sm">
									<li><i class="icon_beneficios fas fa-parking"></i>
										Estacionamento</li>
									<li><i class="icon_beneficios fas fa-utensils"></i>
										Restaurante</li>
									<li><i class="icon_beneficios fas fa-wheelchair"></i>
										Acessibilidade</li>
									<li><i class="icon_beneficios fas fa-parking"></i> Ar
										condicionado</li>
								</ul>
								<div class="badge-danger px-2 rounded-pill font-weight-normal">
									<i class="fas fa-star-half"></i>4,4
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="py-5 text-center">
				<a href="#" class="btn btn-dark px-5 py-3 text-uppercase">Mostre
					mais</a>
			</div>
		</div>
	</div>

	<!-- Subir ao topo -->
	<button th:replace="~{base :: scrollbutton}"></button>

	<!-- footer -->
	<footer th:replace="~{base :: footer}"></footer>

	<!-- Tradução para libras -->
	<div vw class="enabled">
		<div vw-access-button class="active"></div>
		<div vw-plugin-wrapper>
			<div class="vw-plugin-top-wrapper"></div>
		</div>
	</div>

</body>
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
	integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
	integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
	crossorigin="anonymous"></script>
<!-- Script do tradutor para libras -->
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
	new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>
<!-- Script do tradutor para libras -->
</html>