<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base :: head}"></head>

<body>
	<nav th:replace="~{base :: header}"></nav>

	<div class="container">
		<section class="section_locadora">
			<article class="mapa">
				<h1>
					<img class="img_locadora" src="./img/localizalogo.png"
						alt="logo da Localiza"> Localiza
				</h1>
			</article>

			<article>
				<h3>Conheça a frota:</h3>
				<div class="gallery">
					<div class="gallery-container">
						<img class="gallery-item gallery-item-1" src="./img/carro1.png"
							data-index="1"> <img class="gallery-item gallery-item-2"
							src="./img/carro2.png" data-index="2"> <img
							class="gallery-item gallery-item-3" src="./img/carro3.png"
							data-index="3"> <img class="gallery-item gallery-item-4"
							src="./img/carro4.png" data-index="4"> <img
							class="gallery-item gallery-item-5" src="./img/carro5.png"
							data-index="5"> <img class="gallery-item gallery-item-6"
							src="./img/carro6.png" data-index="6">
					</div>
					<div class="gallery-controls"></div>
				</div>
			</article>
		</section>


		<div class="col-lg-6 text-center">
			<h4 class="tm-text-primary mb-2">Confira a localização no mapa:</h4>
			<div id="mapholder"></div>
		</div>

		<form action="#" method="post" novalidate="novalidate">
			<h4>Faça uma simulação de locação:</h4>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12 p-0">
					<input type="text" class="form-control search-slt"
						placeholder="Digite o local de retirada"> <input
						type="text" name="form-control search-slt"
						placeholder="Escolha a data de retirada" id="">
				</div>
				<div class="col-lg-2 col-md-3 col-sm-12 p-0">
					<select class="form-control search-slt"
						id="exampleFormControlSelect1">
						<option>Categorias</option>
						<option>carro a</option>
						<option>carro b</option>
						<option>carro c</option>
						<option>carro d</option>
						<option>carro e</option>
						<option>carro f</option>
					</select>
				</div>
				<div class="col-lg-1 col-md-3 col-sm-12 p-0">
					<button type="button" class="btn btn-danger wrn-btn">Buscar</button>
				</div>
			</div>
		</form>

		<div class="row justify-content-center mt-5">
			<div class="col-12 col-lg-8 mb-3">
				<div class="be-comment-block">
					<h4 class="tm-text-primary mb-4">Avaliação dos usuários</h4>
					<div class="be-comment">
						<div class="">
							<div class="">
								Usuário: <span>Java</span>
							</div>
							<div class="">
								Classificação: <span>5</span>
							</div>
							<div class="">
								Data da experiência: <span>10/02/2020</span>
							</div>
							<div>Descrição</div>
							<div>
								<textarea class="be-comment-text">descrição do pedido</textarea>
							</div>
							<div class="col-12 col-sm-4"></div>
							<div>
								<img class="imagem_avalia rounded " src="" />
							</div>
							<hr>
						</div>

					</div>
				</div>
			</div>


			<div class="avalie col-12 col-lg-4 tm-next rounded pt-2">
				<p>Ja visitou este local?</p>
				<a href="avalia/formulario"
					class="tm-intro-text tm-btn-primary py-3 px-5">Avalie também</a>
				<!-- <imgclass="img-fluid" src="./img/minilogo.png" alt="">  -->
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-end">
		<button th:fragment="scrollbutton" onclick="subirTela()"
			class="scrollbutton">
			<i class="fa-solid fa-chevron-up"></i> <span class="visually-hidden">Rolar
				para cima</span>
		</button>
	</div>

	<footer th:replace="~{base :: footer}"></footer>

	<!-- Tradução para libras -->
	<div vw class="enabled">
		<div vw-access-button class="active"></div>
		<div vw-plugin-wrapper>
			<div class="vw-plugin-top-wrapper"></div>
		</div>
	</div>

</body>

<script src="./js/script.js"></script>
<!-- script bootstrap -->
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
	integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
	crossorigin="anonymous">
	
</script>
<script	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
	integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
	crossorigin="anonymous">
	
</script>
<!-- Script do tradutor para libras -->
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
	new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>
<!-- Script do tradutor para libras -->

<!-- Script google maps -->
<script	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
	defer></script>


<script
	src="https://maps.google.com/maps/api/js?key=AIzaSyCj0JSCdmBlmezLvpXVIHvVEUAqtdGeV9I&region=BR&callback=initMap">
	
</script>

</html>